/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}



/******************************************
/* LAYOUT
/*******************************************/
html {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 62.5%;
}

nav,
nav ul,
main ul,
.flexContainer {
  display: flex;

}

nav {
  justify-content: space-around;
}

nav img {
  height: 50px;
}

nav ul li {
  width: 140px;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(44, 42, 39, 1);
}

/* main section styles */

main>* {
  margin-left: 125px;
  margin-right: 50px;
}

main {
  background: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

main h1 {
  margin-top: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 6.5rem;
  width: 50%;
}

.flexContainer {
  width: 40%;
}

.inputField {
  flex: 1;
}

button {
  background: rgba(241, 90, 38, .8);
}

main ul {
  justify-content: space-between;
}

.aboutUs {
  margin: 0 550px;
  width: 300px;
  padding: 100px 0;
}

.aboutUsContainer {
  background: url(../img/aboutUsbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
}

h4 {
  margin-top: 0;
  padding-top: 20px;
}

.orderNow,
.businessHours,
.testimonialx {
  text-align: center;
  padding: 100px 0;
}

.orderNow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderNow {
  background: url(../img/orderNowbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.orderNow h2+ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/* .menuCards {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 10px auto 0 auto;
} */

.menuCards div {

  height: 200px;
  border: 2px solid rgba(241, 90, 38, 0.6);
  width: 200px;
  margin: 10px 10px 0 0;
}

.businessHours section {
  display: flex;
  justify-content: center;

}

.businessHours,
.testimonialx {
  background: url(../img/businessHoursbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.businessHours div {
  margin: 0 50px;
}

.fas,
.fa,
h4 {
  color: rgba(241, 90, 38, 0.8);
}

.fa-phone-alt {
  border: 2px solid rgba(241, 90, 38, 0.8);
  padding: 10px;
  border-radius: 50%;
}

#card1 {
  background: url(../img/breakfast/b01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card12 {
  background: url(../img/lunch/l01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card13 {
  background: url(../img/dinner/d01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card14 {
  background: url(../img/dessert/ds01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menuCards button {
  color: white;
}

#card2 {
  background: url(../img/breakfast/b02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card22 {
  background: url(../img/lunch/l02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card23 {
  background: url(../img/dinner/d02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card24 {
  background: url(../img/dessert/ds02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card3 {
  background: url(../img/breakfast/b03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card32 {
  background: url(../img/lunch/l03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card33 {
  background: url(../img/dinner/d03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card34 {
  background: url(../img/dessert/ds03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card4 {
  background: url(../img/breakfast/b04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card42 {
  background: url(../img/lunch/l04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card43 {
  background: url(../img/dinner/d04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card44 {
  background: url(../img/dessert/ds04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menuCards a {
  display: inline-block;
  width: 210px;
  padding: 0 0 2px 0;
  border-bottom: 2px solid #E5E9EA;
}

#meal1 {
  display: inline-block;
  width: 210px;
  padding: 0 0 2px 0;
  border-bottom: 2px solid rgba(241, 90, 38, 0.8);
}

#selectedMeal {
  display: inline-block;
  width: 210px;
  padding: 0 0 2px 0;
  border-bottom: 2px solid rgba(241, 90, 38, 0.8);
}

.testimonialx img {
  width: 80px;
  border-radius: 50%;
}

.testimonialx i+p {
  width: 50%;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  background: #333333;
  color: #BCBCBC;


}

footer h6 {
  color: #7B7B7B;
}

footer section {
  width: 33%;
}

footer img {
  height: 50px;
}

footer>* {
  margin: 25px 0 25px 100px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* mobile */
@media screen and (max-width:480px) {

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    height: 50px;
    width: auto;

  }

  nav ul {
    display: none;
  }

  main>* {
    margin-left: 20px;
    margin-right: 20px;
  }

  main {
    background: url(../img/mobile-main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
  }

  .aboutUs {
    margin: 0 60px;
  }

  .aboutUsContainer {
    background: url(../img/aboutusbg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
  }

  footer img {
    height: 25px;
  }

  footer>* {
    margin: 25px 10px;
  }

  .inputField {
    width: 90px;
  }

}

@media (min-width:481px) and (max-width:825px) {

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  nav ul li:first-child,
  nav ul li:nth-child(2),
  nav ul li:nth-child(4) {
    display: none;
  }
}