/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 62.5%;
}

nav,
ul,
.flexContainer {
  display: flex;

}

nav {
  justify-content: space-around;
}

nav img {
  height: 50px;
}

nav ul li {
  width: 140px;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(44, 42, 39, 1);
}

/* main section styles */

main>* {
  margin-left: 125px;
  margin-right: 50px;
}

main {
  background: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

main h1 {
  margin-top: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 6.5rem;
  width: 50%;
}

.flexContainer {
  width: 40%;
}

.inputField {
  flex: 1;
}

button {
  background: rgba(241, 90, 38, .8);
}

main ul {
  justify-content: space-between;
}

.aboutUs {
  margin: 0 550px;
  width: 300px;
  padding: 100px 0;
}

.aboutUsContainer {
  background: url(../img/aboutUsbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
}

h4 {
  margin-top: 0;
  padding-top: 20px;
}

.orderNow,
.businessHours {
  text-align: center;
  padding: 100px 0;
}

.orderNow {
  background: url(../img/orderNowbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.orderNow h2+ul,
.menuCards {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.menuCards div {

  height: 150px;
  border: 2px solid rgba(241, 90, 38, 0.6);
  width: 150px;
}

.businessHours section {
  display: flex;
  justify-content: center;

}

.businessHours {
  background: url(../img/businessHoursbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.businessHours div {
  margin: 0 50px;
}

.fas,
.fa {
  color: rgba(241, 90, 38, 0.8);
}

.fa-phone-alt {
  border: 2px solid rgba(241, 90, 38, 0.8);
  padding: 10px;
  border-radius: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/